In [1]:
import numpy as np
import pandas as pd

In [5]:
np.random.seed(101)

In [2]:
linhas = ['a','b','c','d','e']
linhas

['a', 'b', 'c', 'd', 'e']

In [3]:
colunas = ['w','x','y','z']
colunas

['w', 'x', 'y', 'z']

In [17]:
dataframe = pd.DataFrame(np.random.randn(5,4),linhas,colunas)
dataframe #dataframes são series em duas dimensões onde os indices arbitrarios podem ser tanto as linhas quanto as colunas

          w         x         y         z
a  0.586847 -1.621348  0.677535  0.026105
b -1.678284  0.333973 -0.532471  2.117727
c  0.197524  2.302987  0.729024 -0.863091
d  0.305632  0.243178  0.864165 -1.560931
e -0.251897 -0.578120  0.236996  0.200780

In [14]:
pd.DataFrame(np.random.randn(5,4),linhas) #somente os indices das linhas foram declarados

          0         1         2         3
a -1.467514 -0.494095 -0.162535  0.485809
b  0.392489  0.221491 -0.855196  1.541990
c  0.666319 -0.538235 -0.568581  1.407338
d  0.641806 -0.905100 -0.391157  1.028293
e -1.972605 -0.866885  0.720788 -1.223082

In [15]:
pd.DataFrame(np.random.randn(5,4),columns = colunas) #somente os indices das colunas foram declarados

          w         x         y         z
0  1.606780 -1.115710 -1.385379 -1.329660
1  0.041460 -0.411055 -0.771329  0.110477
2 -0.804652  0.253548  0.649148  0.358941
3 -1.080471  0.902398  0.161781  0.833029
4  0.975720 -0.388239  0.783316 -0.708954

In [20]:
#é possivel achar elementos num dataframe de 3 formas:
#1)
dataframe['w'] # retorna uma serie de todas linhas de W

a    0.586847
b   -1.678284
c    0.197524
d    0.305632
e   -0.251897
Name: w, dtype: float64

In [21]:
dataframe[['w','z','y']] # retorna uma serie de todas linhas de W z y

          w         z         y
a  0.586847  0.026105  0.677535
b -1.678284  2.117727 -0.532471
c  0.197524 -0.863091  0.729024
d  0.305632 -1.560931  0.864165
e -0.251897  0.200780  0.236996

In [22]:
dataframe[['w','z','y']] # retorna um dataframe de todas linhas das colunas W z e y

          w         z         y
a  0.586847  0.026105  0.677535
b -1.678284  2.117727 -0.532471
c  0.197524 -0.863091  0.729024
d  0.305632 -1.560931  0.864165
e -0.251897  0.200780  0.236996

In [27]:
dataframe['w']['a'] # retorna o elemento da linha a e coluna 2

0.586847295403904

In [28]:
dataframe['w'][['a','c']] #retorna uma serie das linhas a e c da coluna w

a    0.586847
c    0.197524
Name: w, dtype: float64

In [33]:
dataframe[['w','z']][['a','c']] # não é possivel fazer isso

KeyError: "None of [Index(['a', 'c'], dtype='object')] are in the [columns]"

In [36]:
#2) usando a função loc
dataframe.loc['w']  #retorna uma serie de todas linhas de W

w    0.586847
x   -1.621348
y    0.677535
z    0.026105
Name: a, dtype: float64

In [48]:
dataframe.loc[['a','b','c','d'],['w','y','z']] # retorna uma dataframe de todas linhas das colunas W z y
                                               # as linhas vem antes das coluans

          w         y         z
a  0.586847  0.677535  0.026105
b -1.678284 -0.532471  2.117727
c  0.197524  0.729024 -0.863091
d  0.305632  0.864165 -1.560931

In [50]:
dataframe.loc['a','z']# pega o elemento da linha a e coluna z

0.026105480322676483

In [54]:
#3) usando a função iloc
#funciona igual ao loc mas com indices numericos
dataframe.iloc[1]  #retorna uma serie de todas colunas da linha  de indice 1(b)

w   -1.678284
x    0.333973
y   -0.532471
z    2.117727
Name: b, dtype: float64

In [55]:
dataframe.iloc[1][0] #retorna  o elemento da linha 1[b] e coluna 0 [2]

-1.6782836579965759

In [68]:
dataframe.iloc[1:4,[0,1,3]] # retorna um dataframe das linhas 1:4[b c d] e colunas [0 1 3][w x z]
# vou usar só o loc

          w         x         z
b -1.678284  0.333973  2.117727
c  0.197524  2.302987 -0.863091
d  0.305632  0.243178 -1.560931

In [58]:
# adicionando colunaas
dataframe['nova_coluna'] = dataframe['w']*2
dataframe

          w         x         y         z  nova_coluna
a  0.586847 -1.621348  0.677535  0.026105     1.173695
b -1.678284  0.333973 -0.532471  2.117727    -3.356567
c  0.197524  2.302987  0.729024 -0.863091     0.395048
d  0.305632  0.243178  0.864165 -1.560931     0.611263
e -0.251897 -0.578120  0.236996  0.200780    -0.503794

In [63]:
# retirando  colunas
dataframe.drop('nova_coluna',axis=1)#se axis=0 ele vai procurar esse indice nas colunas

          w         x         y         z
a  0.586847 -1.621348  0.677535  0.026105
b -1.678284  0.333973 -0.532471  2.117727
c  0.197524  2.302987  0.729024 -0.863091
d  0.305632  0.243178  0.864165 -1.560931
e -0.251897 -0.578120  0.236996  0.200780

In [64]:
# retirando linhas
dataframe.drop('e',axis=0)
#obs: em ambos os casos a mudança só vai ser feita no dataframe se ele receber ele mesmo modificado ou se o argumento inplace=True

          w         x         y         z  nova_coluna
a  0.586847 -1.621348  0.677535  0.026105     1.173695
b -1.678284  0.333973 -0.532471  2.117727    -3.356567
c  0.197524  2.302987  0.729024 -0.863091     0.395048
d  0.305632  0.243178  0.864165 -1.560931     0.611263