In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('exemplo.csv',sep=',', decimal='.') # importa o arquivo do csv em forma de dataframe
                                        #sep diz qual o separador do arquivo
                                        #decimal diz qual simbolo está sendo usado para separar números decimais
df #obs: alterações feitas em df não serão automaticamente levadas para exemplo.csv

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [7]:
df = df+1
df

   Unnamed: 0   a   b   c   d
0           1   1   2   3   4
1           2   5   6   7   8
2           3   9  10  11  12
3           4  13  14  15  16

In [8]:
df.to_csv('exemplo_alterado.csv',sep=';',decimal=',') # cria um arquivo .csv a partir de df

In [14]:
df = pd.read_excel('Exemplo_Excel.xlsx', sheet_name='Sheet1')# importa o arquivo do excel em forma de dataframe
df                                                           #sheet_name diz qual guia do excel sera usada

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [16]:
df.to_excel('exemplo_excel_alterado.xlsx',sheet_name='Sheet1')

In [24]:
df = pd.read_html('https://www.cbf.com.br/futebol-brasileiro/competicoes/campeonato-brasileiro-serie-a/2020') # pega todas
# as tags relevantes de html de um site e retorna uma lista delas
#uma delas deve ser a tabela que aparece no site
type(df)

list

In [25]:
len(df) #tamanho da lista

7

In [28]:
type(df[0]) #

pandas.core.frame.DataFrame

In [27]:
df[0]

,Posição,PTS,J,V,E,D,GP,GC,SG,CA,CV,%,Recentes,Próx
0,1º 0 Flamengo - RJ,71,38,21,8,9,68,48,20,90,4,62,V V D,NaN
1,2º 0 Internacional - RS,70,38,20,10,8,61,35,26,91,9,61,V D E,NaN
2,3º 0 Atlético - MG,68,38,20,8,10,64,45,19,72,6,59,E V V,NaN
3,4º 0 São Paulo - SP,66,38,18,12,8,59,41,18,95,2,57,E D V,NaN
4,5º 0 Fluminense - RJ,64,38,18,10,10,55,42,13,85,5,56,V E V,NaN
5,6º 0 Grêmio - RS,59,38,14,17,7,53,40,13,70,8,51,D V D,NaN
6,7º 0 Palmeiras - SP,58,38,15,13,10,51,37,14,96,5,50,E E D,NaN
7,8º 0 Santos - SP,54,38,14,12,12,52,51,1,86,6,47,V E D,NaN
8,9º 0 Athletico Paranaense - PR,53,38,15,8,15,38,36,2,82,5,46,V D V,NaN
9,10º +1 Red Bull Bragantino - SP,53,38,13,14,11,50,40,10,81,4,46,E E V,NaN
10,11º +1 Ceará - CE,52,38,14,10,14,54,51,3,91,10,45,D V V,NaN
11,12º -2 Corinthians - SP,51,38,13,12,13,45,45,0,83,10,44,D E E,NaN
12,13º 0 Atlético - GO,50,38,12,14,12,40,45,-5,82,6,43,D E V,NaN
13,14º +1 Bahia - BA,44,38,12,8,18,48,59,-11,88,8,38,E V V,NaN
14,15º -1 Sport - PE,42,38,12,6,20,31,50,-19,98,7,36,E D D,NaN
15,16º 0 Fortaleza - CE,41,38,10,11,17,34,44,-10,82,11,35,D D D,NaN
16,17º 0 Vasco da Gama - RJ,41,38,10,11,17,37,56,-19,87,7,35,D E V,NaN
17,18º 0 Goiás - GO,37,38,9,10,19,41,63,-22,117,6,32,V E D,NaN
18,19º 0 Coritiba - PR,31,38,7,10,21,31,54,-23,82,8,27,V D D,NaN
19,20º 0 Botafogo - RJ,27,38,5,12,21,32,62,-30,72,6,23,D V D,NaN